---
import BaseLayout from "@/layouts/BaseLayout.astro";

import FoundPost from "@/components/FoundPost.astro";
import {
  collections,
  escape,
  getPostsByCollection,
  unescape,
} from "@/utils/content";
import { internationaliseStaticPaths } from "@/utils/i18n";

export async function getStaticPaths() {
  return internationaliseStaticPaths(
    collections.map((collection) => ({
      params: { collection: escape(collection.name) },
      props: { posts: getPostsByCollection(collection) },
    }))
  );
}
const { collection } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={unescape(collection)}>
  <h2>Posts that comprise {unescape(collection)} ({posts.length})</h2>
  <ol>
    {posts.map((post) => <FoundPost {post} query={`c/${collection}`} />)}
  </ol>
</BaseLayout>
