---
import "@/styles/global.css";

import { posts } from "@/utils/content";
import { type CollectionEntry, getCollection, render } from "astro:content";
import { getStaticLanguagePaths } from "@/utils/i18n.ts"

export const getStaticPaths = getStaticLanguagePaths;

const { langPrefix } = Astro.props

const links = posts.map((post) => `${import.meta.env.BASE_URL}${langPrefix}${post.id}`);
---

<!doctype html>
<html lang="en">
  <head>
    <base href={import.meta.env.BASE_URL} />
    <script is:inline src="./light-mode.js"></script>
  </head>
  <body>
    <span style="display: none" id="links">{JSON.stringify(links)}</span>
    <script lang="javascript">
      const urls = JSON.parse(document.getElementById("links").textContent);
      var randURL = Math.floor(Math.random() * urls.length);
      window.open(urls[randURL], "_self");
    </script>
    <span>Redirecting...</span>
  </body>
</html>
