---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Authors from "@/components/Authors.astro";
import Metadata from "@/components/Metadata.astro";
import PrevNexts from "@/components/PrevNexts.astro";
import { posts, prevnexts } from "@/utils/content";
import { formatDate } from "@/utils/date";
import { type CollectionEntry, render } from "astro:content";

export async function getStaticPaths() {
  return posts.map((post, i) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const prevnext = prevnexts[post.id];

const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description || ""}>
  <article>
    <Metadata post={post.data} />
    <h1>{post.data.title}</h1>
    <center><b><Authors authors={post.data.authors} /></b></center>
    <center>{formatDate(post.data.date, post.data["date-precision"])}</center>

    <PrevNexts prevnexts={prevnexts[post.id]} />

    <section>
      <Content />
    </section>
  </article>
</BaseLayout>
