---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Authors from "@/components/Authors.astro";
import Metadata from "@/components/Metadata.astro";
import PrevNext from "@/components/PrevNext.astro";
import { posts } from "@/utils/content";
import { formatDate } from "@/utils/date";
import { type CollectionEntry, render } from "astro:content";

export async function getStaticPaths() {
  return posts.map((post, i) => ({
    params: { slug: post.id },
    props: {
      post,
      prevnext: {
        prev: i + 1 === posts.length ? "" : posts[i + 1].id,
        next: i === 0 ? "" : posts[i - 1].id,
      },
    },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
  prevnext: {
    prev?: string;
    next?: string;
  };
}

const { post, prevnext } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description || ""}>
  <article>
    <Metadata post={post.data} />
    <h1>{post.data.title}</h1>
    <center><b><Authors authors={post.data.authors} /></b></center>
    <center>{formatDate(post.data.date, post.data["date-precision"])}</center>
    <PrevNext prev={prevnext.prev} next={prevnext.next} />
    <section>
      <Content />
    </section>
    <PrevNext prev={prevnext.prev} next={prevnext.next} />
  </article>
</BaseLayout>
