---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Authors from "@/components/Authors.astro";
import Embed from "@/components/Embed.astro";
import Metadata from "@/components/Metadata.astro";
import PrevNexts from "@/components/PrevNexts.astro";
import { posts, prevnexts } from "@/utils/content";
import { formatDate } from "@/utils/date";
import { type CollectionEntry, render } from "astro:content";

export async function getStaticPaths() {
  return posts.map((post, i) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const prevnext = prevnexts[post.id];

const embed = (() => {
  if (!post.data.sources) return;
  const url = post.data.sources.filter(
    (source) => source.includes("youtube.com") || source.includes("youtu.be"),
  )[0];
  if (!url) return;
  var regExp =
    /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
  var match = url.match(regExp);
  if (match && match[2].length == 11) {
    return match[2];
  } else return;
})();

const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description || ""}>
  <article>
    <Metadata post={post.data} />
    <h1>{post.data.title}</h1>
    <center><b><Authors authors={post.data.authors} /></b></center>
    <center>{formatDate(post.data.date, post.data["date-precision"])}</center>

    <!-- <PrevNexts client:load prevnexts={prevnexts[post.id]} /> -->
    <PrevNexts prevnexts={prevnexts[post.id]} />

    {embed && <Embed id={embed} />}
    <section>
      <Content />
    </section>
  </article>
</BaseLayout>
