---
import type { CollectionEntry } from "astro:content";
import MixIn from "@/components/MixIn.astro";
import { formatDate } from "@/utils/date";
import { urlLocaliser, translator, getLangFromUrl } from "@/utils/i18n.ts"
import { data } from "@/i18n/ui";
import { escape } from "@/utils/content";

interface Props {
  post: CollectionEntry<"blog">;
  query?: string;
}

const { post, query = "" } = Astro.props;

const lang = getLangFromUrl(Astro.url)
const localUrl = urlLocaliser(Astro.url)
const t = translator(data, lang)
---

<style>
  li {
    width: 100%;
    margin: 1.5rem 0;
    line-height: 1.3;
  }
  li::marker {
    color: var(--accent);
  }
  .date {
    color: var(--grey);
  }
  .post {
    text-decoration: none;
    font-style: italic;
  }
  p {
    margin: 0;
  }
</style>
<li>
  <a href={localUrl(`/${post.id}/${query ? `?q=${query}` : ""}`)} class="post">{post.data.title}</a>
  <p>
    <MixIn template={t('foundpost.details[authors, date]')}>
      {post.data.authors &&
        post.data.authors.map((author) => 
          <a slot="authors" href={localUrl(`/a/${escape(author)}`)}>{author}</a>
      )}
      <span slot="date" class="date">{formatDate(post.data.date, post.data["date-precision"], lang)}</span>
    </MixIn>
  </p>
</li>
