---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Metadata from "@/components/Metadata.astro";
import PrevNext from "@/components/PrevNext.astro";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];

const post = Astro.props;
const { prev, next } = Astro.props;
---

<!-- <Debug answer={Astro.props} /> -->
<html lang="en">
  <head>
    <BaseHead title={post.title} description={post.description || ""} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <Metadata post={post} />
        <h1>{post.title}</h1>
        <center><b>{post.authors?.join(", ")}</b></center>
        <center>{post.date.toDateString()}</center>
        <PrevNext prev={prev} next={next} />
        <section>
          <slot />
        </section>
        <PrevNext prev={prev} next={next} />
      </article>
    </main>
    <Footer />
  </body>
</html>
